#tutorialModal {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: none !important;
  visibility: visible !important;
  position: fixed;
  inset: 0;
  display: none;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.75);
  z-index: 10000;
}

#tutorialModal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tutorialContent {
  max-width: 900px;
  background-color: rgba(43, 43, 43, 0.5);
  text-align: center;
}

.tutorialViewer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#tutorialImage {
  max-width: 700px;
  max-height: 400px;
  border-radius: 8px;
}

.tutorialNav {
  font-size: 32px;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tutorialNav:hover {
  background-color: #cccccc;
}

.tutorialNav i {
  margin-top: 5px;
  color: black;
}

.tutorialNav:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.tutorialNav:hover:disabled {
  background: none;
  transform: none;
  box-shadow: none;
}

.tutorialFooter {
  margin-top: 10px;
  opacity: 0.7;
  color: white;
}

.tutorialCounter {
  color: white;
}
