.account-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    padding-bottom: 60px;
    gap: 15px;
}

.account-title {
    font-size: 3rem;
    line-height: .8;
    margin: 0;
    color: #eee;
    font-weight: 700;
}

.account-title span {
    font-family: 'Jersey 10', sans-serif;
    font-size: 5rem;
    margin: 0;
    margin-left: 5px;
    color: rgb(133, 133, 133);
    -webkit-text-stroke: 1px #000000;
    text-stroke: 1px #000000;
}

.account-subtitle {
    font-size: 1.2rem;
    width: 600px;
    font-style: italic;
    margin: 0;
    color: #bbb;
    max-width: 820px;
}

.account-content {
    padding: 0 10px;
}

.account-section {
    max-width: 600px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.account-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.account-group p {
    font-size: 16px;
}

.account-label {
    font-size: 18px;
    color: #ccc;
}

.account-input {
    background: #1c1c1c;
    border: 1px solid #333;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px;
    color: #eee;
    width: 100%;
}

.account-input:disabled {
    opacity: 0.6;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-pass {
    position: absolute;
    right: 10px;
    cursor: pointer;
    width: 24px;
    height: 36px;
    display: flex;
}

.icon-eye {
    width: 22px;
    height: 22px;
    stroke: #275ea7;
}

.eye-open {
    display: none;
}

.toggle-pass[data-state="open"] .eye-closed {
    display: none;
}

.toggle-pass[data-state="open"] .eye-open {
    display: block;
}

.account-row {
    display: flex;
    gap: 10px;
}

.account-btn {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    font-size: 16px;
}

.bx-edit-alt, .bxs-save, .bx-x {
    font-size: 18px;
}

.edit-btn {
    background: #275ea7;
    color: #eee;
}

.edit-btn:hover {
    background: #316fc4;
}

.action-btn {
    background: #275ea7;
    color: #eee;
}

.action-btn:hover {
    background: #316fc4;
}

.delete-btn {
    background: #8b0000;
    color: #eee;
}

.delete-btn:hover {
    background: #a30000;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #111;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
}

.modal h3 {
    margin: 0 0 15px;
    color: #eee;
    font-size: 18px;
}

.modal p {
    font-size: 16px;
    margin-bottom: 5px;
}

.modal-input {
    width: 100%;
    padding: 12px;
    background: #1c1c1c;
    border: 1px solid #333;
    color: #eee;
    font-size: 16px;
    margin-bottom: 12px;
    border-radius: 6px;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.cancel-btn {
    background: #444;
    color: #eee;
}

.cancel-btn:hover {
    background: #555;
}

.save-btn {
    background: #275ea7;
    color: #eee;
}

.save-btn:hover {
    background: #316fc4;
}

.delete-confirm-btn {
    background: #8b0000;
    color: #eee;
}

.delete-confirm-btn:hover {
    background: #a30000;
}

.hidden {
    display: none !important;
}

.account-btn.save-btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.error-msg {
    color: #ff4d4d;
    font-size: 13px;
    margin-top: 3px;
    display: block;
    min-height: 16px;
    opacity: 0;
    transition: .2s;
}

.passError-msg {
    color: #ff4d4d;
    font-size: 13px;
    margin-top: -6px !important;
    margin-bottom: 6px;
    display: block;
    min-height: 16px;
    opacity: 0;
    transition: .2s;
}

.cancel-btn-small {
    background-color: #e74c3c !important;
    color: #eee;
}

.cancel-btn-small:hover {
    background-color: #ff6050 !important;

}

.cancel-btn-small.hidden {
    display: none;
}

input.error {
    border-color: #ff4d4d !important;
    animation: shake .25s ease;
}

.save-btn[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

@media (max-width: 400px) {
    .account-hero h1 {
        font-size: 2.8rem;
    }

    .account-hero h1 span {
        font-size: 4.5rem;
    }
}